@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f8ff; 
    color: #003366; 
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #005bbb; 
    text-shadow: 2px 2px 6px rgba(0, 91, 187, 0.3);
    display: inline-block;
    padding-bottom: 5px;
}

.descripcion-pagina {
    font-size: 1.2rem;
    color: #003366;
    line-height: 1.6;
    text-align: justify;
    max-width: 80%;
    margin: auto;
    background-color: #ffcc00;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}



img {
    box-shadow: 0px 4px 10px rgba(255, 0, 0, 0.3); 
    max-width: 80%;
    border-radius: 15px;
}

.carousel {
    max-width: 80%;
    margin: auto;
}

.navbar {
    background-color: #007bff;
}

.navbar-nav .nav-link {
    color: #003f87;
    transition: background-color 0.3s;
}

.navbar-nav .nav-link:hover {
    background-color: #90caf9;
    color: #000;
    border-radius: 4px;
}

.btn-secondary {
    background-color: #0056b3;
    border: none;
    color: white;
}

.btn-secondary:hover {
    background-color: #90caf9;
    color: #000;
}

.content {
    margin-top: 70px; 
    text-align: center;
    padding: 20px;
}

.banner {
    position: relative;
    width: 100%;
    height: 700px;
    background-image: url('img/imagen12.webp'); 
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
}

.banner h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.7);
    padding: 10px 20px;
}


.form-label {
    font-weight: 600; 
}
   

.form-control {
    border-radius: 5px;
    margin-bottom: 1rem; 
}

footer {
    background-color: #0057b7; 
    color: rgb(0, 0, 0);
    padding: 20px 0;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    opacity: 0.8;
}

footer p {
    font-size: 1.2rem;
    font-weight: bold;
}

footer .btn {
    border-radius: 50px;
    font-size: 0.9rem;
    font-weight: bold;
    padding: 8px 15px;
}

footer .btn-primary {
    background-color: #d71a28; 
    border: none;
}

footer .btn-primary:hover {
    background-color: #a11420;
}

footer .btn-info {
    background-color: #0057b7; 
    border: none;
}

footer .btn-info:hover {
    background-color: #003f87;
}

footer .btn-danger {
    background-color: #ffcc00; 
    border: none;
    color: #3a31b9;
}

footer .btn-danger:hover {
    background-color: #e6b800;
}